<!DOCTYPE html>
<html>
<head>
  <title>My Dogs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
</head>

<body>
  <header>
    <div class='container dog-header col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1'>
      <div class='col-xs-8'>
        <h1>My Dogs</h1>
      </div>
      <div class='dog-add-btn col-xs-2'>
        <button class='btn btn-primary' data-toggle='modal' data-target='#myModalDogs'>
          Add Dog
        </button>
      </div>
    </div>
  </header>

  <hr />
  <div class='clear'></div>

  <div class='container'>
    <%= yield %>
  </div>


  <!-- Dogs Model -->
  <div class='modal fade' id='myModalDogs' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Describe Your Dog</h4>
        </div>
        <%= simple_form_for Dog.new do |f| %>
          <div class='modal-body'>
            <%= f.input :name %>
            <br />
            <%= f.input :breed %>
            <br />
            <%= f.input :nickname %>
            <br />
            <%= f.input :birthday, start_year: Date.today.year - 26, end_year: Date.today.year %>
            <br />
            <%= f.input :story, :input_html => {:rows => 10, :cols => 60} %>
          </div>
          <div class='modal-footer'>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit 'Add Dog', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</body>
</html>
